@page
@model TravelBlog.Pages.IndexModel
@{
}
  <section class="homePage">
    <div class="about-blog">
      <div class="about-blog__content">
        <header>          
          <h1 class="about-blog__content-title">Life is a journey, stories are our mile markers</h1>
          <img src="~/assets/logoWhite.png" alt="white logo">
        </header>
        <div class="about-blog__content--welcome">
          <img src="~/assets/pexels-man-1.jpg" alt="Grzegorz Kowalski" class="about-blog__content--welcome-picture">
          <div class="about-blog__content--welcome-text">
            <h1>Pogoda:</h1>
            <div id="weatherBox"></div>
            <h2>
              Hi. I’m Grzegorz Kowalski.
              <br>Welcome to LAOS!
            </h2>
            <p>Besides being one of my all-time favorite people in the world,
              Jodi is also a damn amazing blogger who writes often about food
              and culture. She devotes a lot of time to food on the road, taking
              mouthwatering photos that make me jealous of her ability to do so.
              A former lawyer, she also writes a series called “Thrillable Hours”
              about other lawyers who gave up being a corporate lackey for life on the road.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>