@page
@model FilmDB.Areas.CMS.Pages.AddRoleModel
@{
    ViewData["Title"] = "AddRole";
}


<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Role.Name" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Role.Name" class="form-label"></label>
                    <span asp-validation-for="Input.Role.Name" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form/>
        </section>
    </div>
</div>
